{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
{% endblock %}

{% block title %}
Reset Password
{% endblock %}

{% block body %}
<div class="form-box">
  <h1 id="heading">Reset Password</h1>
  <form method="post">
    {{ form.csrf_token }}
    <div class="input">
      {{ form.username.label }}
      {{ form.username(placeholder="Enter Username", class="name") }}
    </div>
    <div class="input">
      {{ form.new_password.label }}
      {{ form.new_password(placeholder="Enter New Password", class="name") }}
    </div>
    <div class="input">
      {{ form.confirm_password.label }}
      {{ form.confirm_password(placeholder="Confirm Password", class="name") }}
    </div>
    <button class="btn" type="submit">
      <span class="button--text">Reset Password</span>
    </button>
  </form>
</div>
{% endblock %}

{% block script %}
<script src="../static/js/auth.js"></script>
{% endblock %}